.page {
  min-height: 100svh;
  font-family: var(--font-geist-sans);
  background-color: #f0f0f0;
}

.header {
  background-color: #324300;
  color: #fff;
  padding: 20px;
}

.content {
  padding: 20px;
  button {
    background-color: #324300;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    :hover {
      background-color: #667500;
    }
  }
}
.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
