@use "sass:map";
@use "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #dcdcdc;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9e9e9e;
    border-radius: 5px;
  }

  body {
    max-width: 100vw;
    overflow-x: hidden;
    color: variables.$black;
    background: variables.$white;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
